{
  "$schema": "https://json.schemastore.org/prettierrc",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "arrowParens": "always",
  "useTabs": false,
  "printWidth": 125,
  "cssEnable": ["css", "less", "scss", "sass"],
  "trailingComma": "all"
}
